<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>

Options -Indexes
Options +FollowSymlinks
RewriteEngine on

RewriteBase /

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]